{% extends "bootstrap/base.html" %}
    {% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}">
{% endblock %}
{% block title %}The Archive{% endblock %}
{% block content %}
<h1 class="landing-title">The Archive</h1>
{% if archive == []: %}
<p>This Archive is empty.</p>
{% endif %}
    <ul class="landing-list">
        {% for story in archive %}
        <li>{{story.title}} - {{story.url}} - {{story.author}} - {{story.rating}}/10 - <a type="button" class="rating-btn btn btn-success btn-sm" href="{{ url_for('edit', id=story.id) }}">Edit Rating</a><a type="button" class="dlt-btn btn btn-dark btn-sm" href="{{ url_for('delete', id=story.id) }}">❌</a></li>
        {% endfor %}
    </ul>
    <a  href="{{ url_for('add') }}">
<button type="button" class="front-btn btn btn-block">Add New Story</button>
        </a>
{% endblock %}