{% extends "bootstrap/base.html" %}
    {% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}">
{% endblock %}
{% block title %}Add Story{% endblock %}
{% block content %}
<h1 class="landing-title">Add Story</h1>
    <form class="add-form cust-align" action="{{ url_for('add') }}" method="POST">
        <label>Story Name</label>
        <input class="cust-field" name="title" type="text"> <br>
        <label>URL</label>
        <input class="cust-field" name="url" type="text"> <br>
        <label>Author(s)</label>
        <input class="cust-field" name="author" type="text"> <br>
        <label>Rating</label>
        <input class="cust-field" name="rating" type="text"> <br>
        <button class="btn btn-success btn-sm btn-block" type="submit">Add Story</button>
    </form>
{% endblock %}